@font-face {
    font-family: Poppins;
    src: url("./font/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Karla;
    src: url("./font/karla/static/Karla-Regular.ttf");
}

body {
    overflow: hidden;
    background: #EEFAFF !important;
    padding: 0 !important; margin: 0 !important;
    font-family: Poppins, SansSerif, Arial, serif !important;
}

#nprogress .bar {
    position: fixed !important;
    background: #42b883 !important;
    height: 3px !important;
    z-index: 2000 !important;
}

.router-link-active {
    color: red;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}


.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
    transition: all 0.2s ease;
}


.scale-enter-from,
.scale-leave-to {
    opacity: 0;
    transform: scale(0.9);
}







.main-container {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    display: inline-block;
    overflow: hidden;
}

.topbar {
    z-index: 1000;
    position: fixed;
    width: 87%;
    left: 13%;
    height: 60px;
    /*background: #C7DEE1 !important;*/
}

.topbar .head_wrapper {
    margin: 20px;
    border-radius: 5px;
    width: content-box;
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}

.topbar .p-menubar-start {
    padding: 4px 10px 0 10px;
    box-shadow: 3px 0 5px -2px rgba(0, 0, 0, .2);
}

.topbar .p-chip {
    background: #fff;
}
.topbar .p-chip img {
    width: 30px; height: 30px;
}
.topbar .p-chip .p-chip-text {
    font-size: 10pt !important;
}
.topbar .p-menubar {
    background: transparent;
    border: none !important;
    border-radius: 0 !important;
    padding: 1px !important;
}

.topbar .p-menuitem-link {
    margin: 0 10px !important;
    padding: 5px !important;
}

.topbar .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
    font-size: 7pt !important;
}

.topbar .p-menuitem-text {
    font-size: 7pt !important;
}

.topbar .p-menuitem-icon {
    font-size: 8pt !important;
}
.ps {
    height: 100%;
}
.loadpanel {
    font-family: Karla, SansSerif, Arial, serif !important;
    overflow: hidden;
    position: fixed;
    z-index: 998;
    width: 87%;
    left:13%;
    height: 100%;
}

.loadpanel .wrapper {
    position: absolute;
    top: 60px;
    padding: 20px;
    height: 1000px;
    width: 100%;
    min-height: 1000px;
}

.breadcrumb-container {
    margin-bottom: 0px;
}

.breadcrumb-container .p-breadcrumb {
    background: none !important;
    border: none !important;
    padding: 0 1rem !important
}

.breadcrumb-container .p-menuitem-link span {
    font-size: 10pt !important;
    color: #003F49 !important
}

.breadcrumb-container .p-breadcrumb-chevron {
    margin-top: 3px !important;
    font-size: 5pt !important;
    color: #003F49 !important
}

.breadcrumb-container .pageName {
    font-family: Karla, SansSerif, Arial, serif !important;
    font-size: 12pt !important;
    font-weight: bolder;
    border-right: solid 1px #808080;
    padding: 0 20px !important;
}

.breadcrumb-container .pageName span {
    color: #003F49;
}

.sidepanel {
    z-index:1000;
    position: absolute;
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, .2);
    width: 13%;
    left: 0;
    height: 140%;
    background: #003F49;
}
.sidepanel .wrapper {
    padding: 10px;
}
.layout-menu-container {
    min-height: 1000px;
}
.sidepanel .panelLogo {
    width: 140px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.sidepanel-container {
    padding-bottom: 100px
}
.sidepanel .layout-menu li a {
    border-radius: 5px !important;
    color: #ccc !important;
}
.sidepanel .layout-menu li .layout-menuitem-root-text {
    color: #fff !important;
    letter-spacing: 2px;
}

.sidepanel hr {
    border: solid 1px #42b883 !important;
}

.sidepanel h5 {
    padding: 0 20px !important;
    color: #42b883 !important;
}

.sidepanel .p-component {
    background: #003F49;
    font-family: Poppins, SansSerif, Arial, serif !important;
    font-size: 10pt !important;
}

.layout-menu li {
    margin: 5px 0;
}

.layout-menu li a {
    padding: 1px !important;
}

.layout-menu li a:hover {
    font-weight: bolder;
    background: transparent;
}

.layout-menuitem-root-text {
    font-size: 8pt !important;
}

.layout-menu li span.caption {
    padding-top: 6px;
}

.layout-menu li span {
    font-size: 8pt !important;
    padding-top: 3px;
    letter-spacing: 1px
}

.layout-menu li span.material-icons {
    font-size: 8pt !important;
}

.layout-menu li a.router-link-exact-active {
    box-shadow: 3px 3px 7px #00292F,
    -3px -3px 7px #015A68;
}

.p-panelmenu .p-panelmenu-content {
    background: #003F49;
    border: none !important;
}
.p-panelmenu .p-panelmenu-header > a {
    border: none !important;
    color: #fff !important;
    background: #003F49 !important;
    border-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-header.p-highlight > a {
    color: #fff !important;
    background: none !important;
}

.p-panelmenu .p-panelmenu-header > a {
    color: #fff !important;
    padding: 10px
}
.p-panelmenu .p-panelmenu-icon {
    font-size: 10pt !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    color: #fff !important;
    font-size: 10pt !important;
    padding-top: 15px;
}
.p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
    font-size: 10pt;
}
.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
    background: #006474 !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
    background: #006474 !important;
}

.app-logo-container {
    margin-right: 150px;
}

.app-logo-container img{
    margin: 0 10px;
    width: 20px;
}

.p-card {
    border-radius: 5px !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1) !important;
}
.p-card-title {
    font-family: Karla, SansSerif, Arial, serif !important;
    font-size: 11pt !important;
}
.p-card .p-card-body {
    border-radius: 0 !important;
    font-family: Karla, SansSerif, Arial, serif !important;
}


.handling_container {
    overflow: hidden;
}
.handling_image {
    margin-top: 50px;
    width: 80% !important;
}

.p-toast-message {
    z-index: 1500;
}

.p-toast-message-icon {
    margin-top: 5px;
    font-size: 10pt !important;
}

.p-toast-icon-close-icon {
    font-size: 10pt !important;
}

.p-toast-message-text {
    font-family: Karla, SansSerif, Arial, serif !important;
    font-size: 10pt !important;
}
